body {
    color: white;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}

.title {
    font-size: 50px;
    background: linear-gradient(to left, #800000 0%, #006600 100%);
    font-weight: 800;
    padding: 0 20px;
}

h3 {
    color: white;
    background: linear-gradient(to left, #800000 0%, #006600 100%);
    font-weight: 800;
}

.button_set {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    height: 40px;
}

.waterFall-button {
    color: lightblue;
    background-color: blue;
}

.tacoStand-button {
    color: red;
    background-color: darkred;
}

.jumping-waterFalls {
    color: lightblue;
    background-color: blue;
}

.eating-tacos {
    color: red;
    background-color: darkred;
}

.choice {
    height: 350px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
}

.water-falls {
    height: 350px;
}

.taco-stand {
    height: 350px;
}